p {
	color: white;
	background: blue;
	font-family: Lucida Console;
	text-align: left;
}

body {
	background-color: blue;
}

.bsod {
	color: white;
	text-shadow: 2px 2px 4px #000000;
	background: blue;
	font-family: Lucida Console;
	text-align: left;
}